<section class="container-md border-bottom pb-3">
  <h1 class="text-center my-5">Novosti</h1>
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
    <article class="col" *ngFor="let p of posts | invert | slice:0:4">
      <div class="card border-0">
        <a routerLink="/post/{{p.id}}">
          <img src="{{p.picture}}" class="card-img-top" alt="stock photo">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <p class="card-text">{{p.text | shorten:100}}</p>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="container-md border-bottom pb-3">
  <h1 class="text-center my-5">O nama</h1>
  <p class="text-body-secondary fw-bold">Tradicionalno i prirodno!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt pharetra augue, et commodo justo egestas at. Mauris pretium et augue quis fringilla. Duis sit amet dapibus odio, vitae malesuada augue. Vivamus sed lacus vitae mi pretium placerat quis auctor. </p>
</section>
<section class="container-md border-bottom pb-3">
  <h1 class="text-center my-5">Proizvodi</h1>
  <div class="btn-group d-flex mb-4" role="group">
    <input type="radio" class="btn-check" (change)="changeSelectedCategory(0)"
           [checked]="selectedCategoryId == 0" name="btnradio" id="btnradio0" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio0">Svi proizvodi</label>
    @for (category of categories; track category; let index = $index) {
    <input type="radio" class="btn-check" (change)="changeSelectedCategory(category.id)"
    [checked]="selectedCategoryId == category.id" name="btnradio" id="btnradio{{index + 1}}" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio{{index + 1}}">{{category.name}}</label>
    }
  </div>
  <div id="carousel" class="carousel slide w-25 mx-auto" data-bs-theme="dark">
    <div class="carousel-inner">
      <div *ngFor="let product of filteredProducts; let first = first" [ngClass]="first ? 'active' : ''" class="carousel-item">
        <img src="{{product.picture}}" class="d-block w-100" alt="...">
        <p class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50 text-white">{{product.name}}</p>
      </div>
      <!--<div class="carousel-item">
        <img src="https://picsum.photos/400" class="d-block w-100" alt="...">
        <p class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50">Mlijeko</p>
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/400" class="d-block w-100" alt="...">
        <p class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50">Sir :)</p>
      </div>-->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section class="container-md mb-3">
  <h1 class="text-center my-5">Postupak proizvodnje</h1>
  <iframe class="mx-auto d-flex" width="560" height="315" src="https://www.youtube.com/embed/7TMtA8Eh9uE?si=vpVboBVqyJUlY3mk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
